@media screen and (max-width:800px){
    .videoBox{
        position: relative;
        width: 100%;
        height: 0;
        top:30%;
        transform: translateY(-30%);
        padding-bottom: 56.25%;
    }
    .video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    header{
    font-size: 23px;
    }
    .scol1{
    width: 8.33%;
    }
    .scol2{
     width: 16.66%;
    }
    .scol3{
        25%;
    }
    .scol4{
        width:33.33%;
    }
    .scol5{
        width: 41.66%;
    }
    .scol6{
        width: 50%;
    }
    .scol7{
        width: 58.33%;
    }
    .scol8
    {
        width: 66.66%;
    }
    .scol9
    {
        width: 75%;
    }
    .scol10
    {
        width: 83.33%;
    }
    .scol11{
        width: 91.66%;
    }
    .scol12{
        width: 100%;
    }

}
@media screen and (min-width:801px){
    .videoBox, .video{
    display: block;
    margin: auto;
    position: relative;
    width:800px;
    height:450px;
    top: 40%;
    transform: translateY(-40%);
		}
    header{
        font-size: 33px;
        }
    .mcol1{
        width: 8.33%;
    }
    .mcol2{
       width: 16.66%;
    }
    .mcol3{
       width: 25%;
    }
    .mcol4{
        width:33.33%;
    }
    .mcol5{
        width: 41.66%;
    }
    .mcol6{
        width: 50%;
    }
    .mcol7{
        width: 58.33%;
    }
    .mcol8
    {
        width: 66.66%;
    }
    .mcol9
    {
        width: 75%;
    }
    .mcol10
    {
        width: 83.33%;
    }
    .mcol11{
        width: 91.66%;
    }
    .mcol12{
        width: 100%;
    }

}
@media screen and (max-width:1100px){
    .fullImg{
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}
@media screen and (min-width:1101px){
    .fullImg{
            display: block;
			margin: auto;
            margin-top: 30px;
            height: 85vh;
		}
}
.row{
    display: flex;
    flex-wrap: wrap;
