nav ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li{
    padding: 12px;
    color: black;
    background-color: rgba(62, 63, 65, 0.9);
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: monterey;
    color: black;
    font-weight: bold;
}
nav ul :hover{
    background-color: black;
    color: rgb(82, 122, 125);
}
