        input:focus{
            border: 1px solid teal;
            outline: none;
        }
        input:required:focus,textarea:required:focus {
            border: 1px solid black;
            outline: none;
        }
        .copyw{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 20px;
            color: black;
        }
        .firstLogo{
            display: block;
            width:100%;
            min-height: 70px;
            margin: auto;
        }
        .topHeader{
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 8px;
            margin-bottom: -5px;
        }
        .flexCenter{
            display:flex;
            justify-content: center;
        }
        .mediaLogo{
            margin-top: 0px;
            margin: 10px;
            width: 100px;
            height: 100px;
        }
        .flex{
            display: flex;
            justify-content: flex-end;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            background-color: lightgray;
        }
        [id^="theImg"]{
            width:255px;
            height: 155px;
            margin: 8px;
        }
        .modal{
            display: none;
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.55);
			top: 0px;
		}
        input{
            height: 30px;
            margin-top: 3px;
            margin-bottom: 3px;
            font-family: 'Vidaloka', serif;
            padding-left: 5px;
        }
        .center{
            margin:auto;
            margin-top: 40px;
        }
        select{
            width: 100%;
        }
        textarea{
            width:100%;
            margin-top: 7px;
            margin-bottom: 7px;
            font-family: 'Vidaloka', serif;
            padding-left: 5px;
        }
        body{
            margin: 0;
            font-family: monterey;
             color:rgba(72, 112, 110, 1);
            background-color: lightgray;
        }
        header{
            background-color: rgba(12, 167, 149, 0.35);
            color:black;
            font-family: 'Gochi Hand', cursive;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-bottom: 0;
            margin-top: 0;
            background-image:
              linear-gradient(45deg, #ccc 25%, transparent 25%),
              linear-gradient(135deg, #ccc 25%, transparent 25%),
              linear-gradient(45deg, transparent 75%, #ccc 75%),
              linear-gradient(135deg, transparent 75%, #ccc 75%);
            background-size:25px 25px; /* Must be a square */
            background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
        }
        @font-face {
            font-family: monterey;
            src:url(monterey.ttf);
        }
         footer{
             background-color: 	rgb(102, 102, 102);
             margin: 0px;
        }
        .thumbnail{
            margin-bottom: 5px;
              }
        .firstImg{
            width: 25%;
            min-width: 100px;
            max-width: 130px;
            margin: 15px;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 5px;
        }
        article{
            font-family: 'Vidaloka', serif;
            font-weight:inherit;
        }
        .articlePhoto{
            width: 50%;
            max-width: 300px;
            margin: 15px;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 5px;
        }
        .box{
            background-color: lightgray;
            text-align: justify;
            padding: 30px;
            padding-top: 20px;
            margin: 14px;
            border-top-right-radius: 50px;
            box-shadow: 5px 15px 18px;
        }
        .artitle{
            font-family: monterey;
            text-align: left;
            font-size: 25px;
            padding: 10px;
        }
        button.play{
            background-image: url('../images/video.png');
        }
        button.readmore{
            background-image: url('../images/readmore.png');
        }
        button.gallery{
            background-image: url('../images/gallery.png');
        }
        input.send{
            background-image: url('../images/send.png');
        }
        button.gallery,button.readmore,button.play, input.send{
            border-radius: 5px;
            height: 50px;
            width: 85px;
            background-repeat:no-repeat;
            background-size:65px 40px;
            background-position: 10px center;
            margin: 2px;
            background-color: rgba(23, 155, 140, 0.41);
            color: teal;
        }
        button:hover, .button:hover{
            background-color: black;
            cursor: pointer;
        }
        input.send{
            width: 100%;
            color: black;
            font-family: monterey;
            text-decoration:overline;
            font-size: 16px;
            font-weight: bold;
            padding-left: 40px;
        }
        input{
            width:100%;
        }
        section{
            background-color:  rgb(82, 122, 122, 0.5);
            background-image: url('../images/logo.png');
/*            opacity: 0.5;*/
            margin: 0px;
            margin-top: 0;
            margin-bottom: 10px;
        }
